<div>
 hi
    </div>
    # Create a new controller called about_controller.rb (ideally using the rails generator)
    # This new controller should have single action index to render this page. Use an ERB template to render the page
    # Don't forget to update the top nav with a link to the page.
    # Do not implement the internal link using a simple <a> tag. Mimic the way the other links are created in the nav
    # Use bin/rake routes to figure out what the name of the route is